
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
/* .babe{
    background: url(./istockphoto-918470028-612x612.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */
